@font-face {
  font-family: AppText;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/npm/@fontsource/noto-sans-sc/files/noto-sans-sc-latin-400-normal.woff2),
       url(https://unpkg.com/@fontsource/noto-sans-sc/files/noto-sans-sc-latin-400-normal.woff2);
  unicode-range: U+0000-007F;
}
@font-face {
  font-family: AppText;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/npm/@fontsource/noto-sans-sc/files/noto-sans-sc-latin-700-normal.woff2),
       url(https://unpkg.com/@fontsource/noto-sans-sc/files/noto-sans-sc-latin-700-normal.woff2);
  unicode-range: U+0000-007F;
}

@font-face {
  font-family: AppText;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/npm/@fontsource/noto-serif-sc/files/noto-serif-sc-chinese-simplified-400-normal.woff2),
       url(https://unpkg.com/@fontsource/noto-serif-sc/files/noto-serif-sc-chinese-simplified-400-normal.woff2);
  unicode-range: U+3000-303F, U+2E80-2EFF, U+3400-4DBF, U+4E00-9FFF, U+20000-2FA1F;
}
@font-face {
  font-family: AppText;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/npm/@fontsource/noto-serif-sc/files/noto-serif-sc-chinese-simplified-700-normal.woff2),
       url(https://unpkg.com/@fontsource/noto-serif-sc/files/noto-serif-sc-chinese-simplified-700-normal.woff2);
  unicode-range: U+3000-303F, U+2E80-2EFF, U+3400-4DBF, U+4E00-9FFF, U+20000-2FA1F;
}

@font-face {
  font-family: AppMono;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/npm/@fontsource/noto-sans-mono/files/noto-sans-mono-latin-400-normal.woff2),
       url(https://unpkg.com/@fontsource/noto-sans-mono/files/noto-sans-mono-latin-400-normal.woff2);
}
@font-face {
  font-family: AppMono;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/npm/@fontsource/noto-sans-mono/files/noto-sans-mono-latin-700-normal.woff2),
       url(https://unpkg.com/@fontsource/noto-sans-mono/files/noto-sans-mono-latin-700-normal.woff2);
}

:root {
  text-autospace: normal;
  --md-text-font: AppText, serif;
  --md-code-font: AppMono, monospace;
}

code, pre {
  text-autospace: no-autospace;
  font-family: var(--md-code-font);
}
